.graphs{
    width: 50%;
  }

.graphs__wrapper{
    width: 100%;
}

.graphs_round{
    width: 0.7em;
    height: 0.7em;
    margin: 0 0.9em;
    border-radius: 50%;
}

.graphs__wrapper, .graphs__info{
    display: flex;
    align-items: center;
}

.graphs__name{
    line-height: 20px;
    font-size: 14px;
    padding: 0.25em 0;
}

.graphs__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}